// Colors
$primaryAccent: hsl(40, 97%, 58%);
$primaryFontLight: hsl(217, 12%, 62%);
$primaryFontDark: hsl(216, 17%, 35%);
$primaryDark: hsl(215, 14%, 23%);
$neutralAccent: hsl(39, 100%, 94%);
$neutralLight: hsl(212, 41%, 93%);
$neutralLightest: hsl(214, 37%, 96%);

// Main container
$containerWidth: 90vw;

$font-accent: 'Space Mono', sans-serif;
$font-body: 'Lexend Deca', sans-serif;
