//Section Hero
.hero {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/home-hero-mobile.jpg");

  @include breakpoint-up(medium) {
    background-image: url("../assets/images/home-hero-tablet.jpg");
  }

  @include breakpoint-up(large) {
    background-image: url("../assets/images/home-hero-desktop.jpg");
  }

  //Circles tablet and desktop
  @include breakpoint-up(medium) {
    &:after {
      content: url("../assets/patterns/white-circles.svg");
      position: absolute;
      right: 0;
      bottom: 10%;
    }
  }

  @include breakpoint-up(large) {
    &:after {
      content: '';
    }
  }

  @include breakpoint-up(xlarge) {
    &:after {
      content: url("../assets/patterns/white-circles.svg");
      right: 2%;
      bottom: 25.5%;
    }
  }

  &__container {
    text-align: center;
    padding: rem(115px) rem(20px) rem(180px);

    @include breakpoint-up(medium) {
      padding: rem(140px) rem(60px) rem(220px);
    }

    @include breakpoint-up(large) {
      max-width: 518px;
      text-align: left;
      padding: rem(150px) 0 rem(150px);
    }

    h1, p {
      color: $neutralLightest;
    }
  }

  &__content {
    p {
      position: relative;
      margin: rem(30px) 0;

      @include breakpoint-up(large) {
        margin: rem(40px) 0;
      }

      //Arrows desktop
      @include breakpoint-up(large) {
        &:before {
          content: url("../assets/patterns/line.svg");
          position: absolute;
          left: -55%;
          top: 28%;
        }

        &:after {
          content: url("../assets/patterns/right-arrow.svg");
          position: absolute;
          left: 100%;
          top: 30%;
        }
      }
    }

    @include breakpoint-up(large) {
      margin-left: rem(96px);
    }
  }

  //Arrow mobile & tablet
  &__button {
    position: relative;

    @include breakpoint-down(medium) {
      &:after {
        content: url("../assets/patterns/right-arrow.svg");
        position: absolute;
        left: -235%;
        bottom: -300%;
      }
    }
  }
}

//Section Features
.features {
  position: relative;

  //Desktop horizontal line across features start
  &:before {
    @include breakpoint-up(large) {
      content: '';
      position: absolute;
      top: rem(40px);
      left: 0;
      height: rem(15px);
      width: 70%;
      background: $neutralLight;
      z-index: -1;
    }

    @include breakpoint-up(xlarge) {
      top: rem(40px);
      left: 0;
      width: 68%;
    }

    @media (min-width: 2000px) {
      width: 65%
    }
    @media (min-width: 2300px) {
      width: 63%
    }
    @media (min-width: 2650px) {
      width: 60%
    }
    @media (min-width: 3450px) {
      width: 58%
    }
    @media (min-width: 4300px) {
      width: 56%
    }
  }

  //Desktop horizontal line across features end

  &__container {
    margin-top: rem(120px);
    margin-bottom: rem(120px);

    @include breakpoint-up(medium) {
      margin-bottom: rem(145px);
    }

    @include breakpoint-up(medium) {
      margin-top: rem(160px);
      margin-bottom: rem(200px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: rem(50px);

    @include breakpoint-up(medium) {
      text-align: left;
    }

    @include breakpoint-up(large) {
      flex-direction: row;
      align-items: baseline;
      gap: rem(72px);
    }
  }

  &__feature {
    display: flex;
    flex-direction: column;
    gap: rem(30px);

    @include breakpoint-up(medium) {
      flex-direction: row;
      justify-content: center;
      gap: rem(80px);
    }

    @include breakpoint-up(large) {
      flex-direction: column;
      gap: 0;
      width: 30%;
    }
  }

  &__icon {
    $iconTabletDesktopSize: rem(96px);
    display: flex;
    flex-shrink: 0;
    align-self: center;
    height: rem(56px);
    width: rem(56px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include breakpoint-up(medium) {
      height: $iconTabletDesktopSize;
      width: $iconTabletDesktopSize;
    }

    @include breakpoint-up(large) {
      align-self: flex-start;
      margin-bottom: rem(40px);
    }

    &--locate {
      background-image: url("../assets/icons/locate.svg");
    }

    &--scooter {
      background-image: url("../assets/icons/scooter.svg");
    }

    &--ride {
      background-image: url("../assets/icons/ride.svg");
    }

    //Tablet vertical line across features start
    &--line {
      &:after {
        @include breakpoint-up(medium) {
          content: '';
          position: absolute;
          top: -190px;
          right: 0;
          width: 15px;
          height: 630px;
          transform: translate(calc(($iconTabletDesktopSize / -2) + 50%));
          background-color: $neutralLight;
          z-index: -1;
        }

        @include breakpoint-up(large) {
          content: none;
        }
      }
    }

    //Tablet vertical line across features end
  }

  &__content {
    max-width: 400px;
    align-self: center;

    &--title {
      font-size: rem(24px);
      font-family: 'Space Mono', sans-serif;
      color: $primaryFontDark;
      margin-bottom: rem(24px);

      @include breakpoint-up(medium) {
        margin-bottom: rem(27px);
      }

      @include breakpoint-up(large) {
        margin-bottom: rem(32px);
      }
    }
  }
}

//Section Benefits
.benefits {
  margin-bottom: rem(200px);

  &__benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    @include breakpoint-up(large) {
      flex-direction: row-reverse;
      text-align: left;

      &:nth-of-type(2) {
        flex-direction: row;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 100px;
    }
  }

  &__content {
    flex-basis: 45%;
    max-width: rem(450px);

    @include breakpoint-up(large) {
      max-width: 100%;
    }

    h2, p {
      margin-bottom:rem(32px);
    }

    @include breakpoint-up(medium) {
      h2, p {
        margin-bottom: rem(40px);
      }
    }

    @include breakpoint-up(large) {
      h2, p {
        margin-bottom: rem(24px);
      }

      p {
        padding-right: rem(80px);
      }
    }
  }

  &__visual {
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    width: 311px;
    height: 311px;
    flex-basis: 311px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: rem(50px);

    @include breakpoint-up(medium) {
      width: 445px;
      height: 445px;
      flex-basis: 445px;
      margin-bottom: rem(60px);

      &:before { //Top and bottom circle tablet & desktop
        content: url("../assets/patterns/circle.svg");
        position: absolute;
        right: -115%;
        top: 0;
      }

      &--city:before {
        left: -345%; //Middle circle tablet
        right: 0;
      }
    }

    @include breakpoint-up(large) {
      margin-bottom: 0;

      &--city:before {
        left: -115%; //Middle circle desktop
      }
    }

    &--telemetry {
      background-image: url("../assets/images/telemetry.jpg");
    }

    &--city {
      background-image: url("../assets/images/near-you.jpg");
    }

    &--payments {
      background-image: url("../assets/images/payments.jpg");
    }
  }
}